* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
}

#main-wrapper {
  max-width: 1200px;
  margin-left:auto;
  margin-right:auto;
}

button {
  padding: 2px 4px 2px 4px;
  border: none;
  background-color: #008CBA;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

/* ------------------------------ PROJECT LIST ---- */

#project-menu {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 30%;
  max-width:350px;
  float: left;
  margin-right: 10px;
}

#project-table {
  border: 0px solid red;
  width: 100%;
}

#project-table tr {
  padding-top: 2px;
  padding-bottom: 2px;
}

tr.project-list-row {
  background-color: #ddd;
}

.project-list-row td {
  padding: 2px;
}

.project-list-row label {
  color: #008CBA;
  padding-left: 4px;
  /*font-weight: bold;*/
}

/* ------------------------------ ICONS ----------- */

#project-table button.icon-button {
    float: left;
    width: 20px;
    height: 20px;
    padding: 2px;
}

#project-table button.icon-button-save {
    background: url(../image/save-16.ico) no-repeat;
}

#project-table button.icon-button-download {
    background: url(../image/download-16.ico) no-repeat;
}

#project-table button.icon-button-upload {
    background: url(../image/upload-16.ico) no-repeat;
}

#project-table button.icon-button-delete {
    background: url(../image/delete-16.ico) no-repeat;
}

/* ------------------------------ JOB ------------  */

#jobs-container {
  width: 70%;
  max-width:840px;
  float: left;
}

.job-container {
  /*margin-bottom: 10px;*/
}

.job {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.job table {
  border: 0px solid red;
  width: 100%;
}

.job td {
  border: 0px solid red;
}

.job-mh-label {
  text-align: right;
  font-weight: bold;
  min-width: 100px;
}

.job div {
  margin-bottom: 5px;
}

.job label {
  margin-left: 5px;
  margin-right: 5px;
  min-width: 
}

.job select,
.job input[type="number"] {
  padding: 5px;
  border: none;
  background-color: #ddd;
  border-radius: 3px;
  width: 100%
}

.job select {
  margin-right: 10px;
}

.job div input[type="number"] {
  flex: 0 0 100px;
  /*width: 100px;*/
}

.job div label.quantity-label {
  margin-right: 5px;
  width: 200px;
}

/* .job div label[for^="placement"] { */
  /*width: 200px;*/
  /* flex: 0 0 200px; */
/* } */

.job label + label {
  margin-left: 10px;
}

/* ------------------------------ STAGE -----------  */

.stage table {
  border: 0px solid red;
  width: 100%;
}

.stage-header {
  background-color: #d0d0d0;
  font-weight: bold;
}

.stage-mh-label {
  text-align: right;
}

#add-job-button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 6px;
}

#total-energy-label {
  font-weight: bold;
  margin-left: 10px;
}

p.citation {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
}
